main{
    height: 100vh;
}
header{
    height: 60px;
    margin: 10px;
    padding: 5px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
article{
    margin: 10px;
    padding: 5px;
}

  
.slider{
    width: 190px;
}  
.bold{
    font-weight: bold;
  }